/* =========================
   TABLET
========================= */

@media (max-width: 1100px) {

    .navbar {
        padding: 0 4%;
    }

    .navbar nav {
        gap: 12px;
    }

    .navbar nav a {
        font-size: 12px;
    }

    .hero {
        padding: 70px 5%;
    }

    .hero h1 {
        font-size: 48px;
    }

    .service-grid,
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

    .navbar {
        min-height: auto;
        padding: 18px 5%;
        flex-wrap: wrap;
        gap: 15px;
    }

    .navbar nav {
        width: 100%;
        order: 3;
        overflow-x: auto;
        padding-bottom: 5px;
    }

    .navbar nav a {
        white-space: nowrap;
    }

    .login-btn {
        margin-left: auto;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 5%;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-description {
        font-size: 15px;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        width: 100%;
        max-width: 430px;
    }

    .service-grid,
    .feature-grid {
        grid-template-columns: 1fr;
    }

    .section-heading h2 {
        font-size: 29px;
    }

    .notice-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 450px) {

    .logo {
        font-size: 18px;
    }

    .login-btn {
        padding: 9px 12px;
        font-size: 12px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .building-card {
        min-height: 360px;
        padding: 30px 20px;
    }

    .building-icon {
        font-size: 70px;
    }

    .services,
    .features {
        padding: 65px 5%;
    }

    .notice-section {
        padding: 50px 5%;
    }

    .notice-content {
        padding: 25px;
    }
}